.collapse {
    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ff5656;
        color: white;
        border-radius: 10px;
        margin-bottom: 20px;
        margin-left: 40px;
        margin-right: 40px;
        cursor: pointer;

        &_title {
            padding: 15px;
            margin: 0;
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
        }
    }

    &_content {
        position: relative;
        z-index: -1;
        padding: 15px;
        background: #f0f0f0;
        margin-top: -30px;
        margin-bottom: 10px;
        border-radius: 10px;
        font-size: 16px;
        line-height: 23px;
        margin-left: 40px;
        margin-right: 40px;
        font-family: 'Montserrat', sans-serif;
    }
}

#arrow {
    display: flex;
    i {
        color: #f0f0f0;
        z-index: 1;
        padding: 10px 20px;
        font-size: 20px;
    }
}
