#error {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        color: #ff6060;
        font-size: 200px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 80px;
        @media screen and (max-width: 769px) {
            font-size: 140px;
        }
    }
    h3 {
        color: #ff6060;
        font-size: 40px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 150px;
        @media screen and (max-width: 769px) {
            font-size: 28px;
            text-align: center;
        }
    }
    #returnhome {
        color: #ff6060;
        font-size: 22px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 180px;
    }
}
