#header {
    #logoheader {
        display: flex;
        margin-left: 50px;
        margin-top: 30px;
    }
    #buttonheader {
        display: flex;
        justify-content: flex-end;
        position: relative;
        bottom: 60px;

        #buthome {
            color: #ff6060;
            font-size: 24px;
            font-weight: 500;
            margin-right: 20px;
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
        }
        #buthome:hover {
            text-decoration: underline;
        }
        #butpropos {
            color: #ff6060;
            font-size: 24px;
            font-weight: 500;
            margin-right: 20px;
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
        }
        #butpropos:hover {
            text-decoration: underline;
        }
    }
}
