#header {
    #logoheader {
        display: flex;
        margin-left: 50px;
        margin-top: 30px;
        @media screen and (max-width: 769px) {
            width: 30%;
            margin-left: 20px;
            margin-top: 15px;
        }
    }
    #buttonheader {
        display: flex;
        justify-content: flex-end;
        position: relative;
        bottom: 60px;
        @media screen and (max-width: 769px) {
            bottom: 30px;
        }

        #buthome {
            color: #ff6060;
            font-size: 24px;
            font-weight: 500;
            margin-right: 20px;
            font-family: 'Montserrat', sans-serif;
            @media screen and (max-width: 769px) {
                font-size: 20px;
            }
        }
        #butpropos {
            color: #ff6060;
            font-size: 24px;
            font-weight: 500;
            margin-right: 20px;
            font-family: 'Montserrat', sans-serif;
            @media screen and (max-width: 769px) {
                font-size: 20px;
            }
        }
    }
}
.active {
    text-decoration: none;
}
