@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Shrikhand&display=swap');

#root {
    max-width: 1440px;
    margin: auto;
}
#header {
    #logoheader {
        display: flex;
        margin-left: 50px;
        margin-top: 30px;
    }
    #buttonheader {
        display: flex;
        justify-content: flex-end;
        position: relative;
        bottom: 60px;

        #buthome {
            color: #ff6060;
            font-size: 24px;
            font-weight: 500;
            margin-right: 20px;
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
        }
        #buthome:hover {
            text-decoration: underline;
        }
        #butpropos {
            color: #ff6060;
            font-size: 24px;
            font-weight: 500;
            margin-right: 20px;
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
        }
        #butpropos:hover {
            text-decoration: underline;
        }
    }
}

#homepage {
    #banner {
        display: flex;
        margin: 80px;
        background: black;
        border-radius: 25px;
        #title {
            display: flex;
            position: absolute;
            justify-content: center;
            width: 1360px;
            color: white;
            font-size: 48px;
            font-weight: 500;
            z-index: 999;
            margin-top: 70px;
            font-family: 'Montserrat', sans-serif;
        }
        #imgbanner {
            display: flex;
            position: relative;
            object-fit: cover;
            border-radius: 25px;
            width: 1280px;
            height: 223px;
            opacity: 0.8;
        }
    }
}
#removecard {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    gap: 50px;
    justify-content: center;
    margin-bottom: 80px;
    #card {
        display: flex;
        align-items: flex-end;
        border-radius: 10px;
        background: linear-gradient(
            180deg,
            rgba(255, 96, 96, 1) 60%,
            rgba(24, 1, 1, 0.795) 100%
        );
        width: 340px;
        height: 340px;
        cursor: pointer;

        h2 {
            color: white;
            font-size: 18px;
            width: 90px;
            margin-left: 20px;
            font-family: 'Montserrat', sans-serif;
        }
    }
}

#propos {
    display: flex;
    margin: 40px;
    border-radius: 25px;
    flex-direction: column;
    #bannerpropos {
        display: flex;
        object-fit: cover;
        border-radius: 25px;
        width: 1360px;
        height: 223px;
        opacity: 0.8;
    }
}
#collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 8px;
    button {
        display: flex;
        align-items: center;
        border: none;
        border-radius: 5px;
        height: 50px;
        width: 1060px;
        color: white;
        background-color: #ff6060;
        font-size: 24px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
    }
}

#footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 24px;
    font-weight: 500;
    width: 1440px;
    height: 250px;
    font-family: 'Montserrat', sans-serif;

    #logofooter {
        display: flex;
        width: 150px;
        margin-bottom: 40px;
    }
}
