@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Shrikhand&display=swap');

#root {
    margin: auto;
}
#header {
    #logoheader {
        display: flex;
        margin-left: 50px;
        margin-top: 30px;
    }
    #buttonheader {
        display: flex;
        justify-content: flex-end;
        position: relative;
        bottom: 60px;

        #buthome {
            color: #ff6060;
            font-size: 24px;
            font-weight: 500;
            margin-right: 20px;
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
        }
        #buthome:hover {
            text-decoration: underline;
        }
        #butpropos {
            color: #ff6060;
            font-size: 24px;
            font-weight: 500;
            margin-right: 20px;
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
        }
        #butpropos:hover {
            text-decoration: underline;
        }
    }
}

#homepage {
    #banner {
        display: flex;
        margin: 40px;
        background: black;
        border-radius: 25px;
        justify-content: center;
        #title {
            display: flex;
            position: absolute;
            color: white;
            font-size: 48px;
            font-weight: 500;
            z-index: 999;
            margin-top: 70px;
            font-family: 'Montserrat', sans-serif;
        }
        #imgbanner {
            display: flex;
            position: relative;
            object-fit: cover;
            border-radius: 25px;
            width: 1825px;
            height: 223px;
            opacity: 0.8;
        }
    }
}
#removecard {
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    justify-content: center;
    gap: 60px;
    margin: 80px;

    a {
        display: flex;
        background: black;
        border-radius: 15px;
    }

    #card {
        display: flex;
        object-fit: cover;
        cursor: pointer;

        img {
            object-fit: cover;
            max-width: 340px;
            height: 340px;
            border-radius: 15px;
            opacity: 0.8;
        }
        h2 {
            display: flex;
            align-items: flex-end;
            position: absolute;
            color: white;
            width: 320px;
            height: 300px;
            margin-left: 10px;
            font-family: 'Montserrat', sans-serif;
        }
    }
}

#propos {
    div {
        display: flex;
        margin: 40px;
        background: black;
        border-radius: 25px;
        justify-content: center;
        #bannerpropos {
            display: flex;
            object-fit: cover;
            border-radius: 25px;
            width: 1825px;
            height: 223px;
            opacity: 0.8;
        }
    }
}

#error {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        color: #ff6060;
        font-size: 200px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 80px;
    }
    h3 {
        color: #ff6060;
        font-size: 40px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 150px;
    }
    #returnhome {
        color: #ff6060;
        font-size: 22px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 180px;
    }
}

#footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 24px;
    font-weight: 500;
    height: 250px;
    font-family: 'Montserrat', sans-serif;

    #logofooter {
        display: flex;
        width: 150px;
        margin-bottom: 40px;
    }
}
