@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Shrikhand&display=swap');

#root {
    margin: auto;
}

#homepage {
    #banner {
        display: flex;
        margin: 40px;
        background: black;
        border-radius: 25px;
        justify-content: center;
        #title {
            display: flex;
            position: absolute;
            color: white;
            font-size: 48px;
            font-weight: 500;
            z-index: 999;
            margin-top: 70px;
            font-family: 'Montserrat', sans-serif;
        }
        #imgbanner {
            display: flex;
            position: relative;
            object-fit: cover;
            border-radius: 25px;
            width: 1825px;
            height: 223px;
            opacity: 0.8;
        }
    }
}
