#propos {
    div {
        display: flex;
        margin: 40px;
        background: black;
        border-radius: 25px;
        justify-content: center;
        #bannerpropos {
            display: flex;
            object-fit: cover;
            border-radius: 25px;
            width: 1825px;
            height: 223px;
            opacity: 0.8;
        }
    }
}
